* {
	/*box-sizing: border-box;*/
	text-align: center;
	margin-bottom: 28px;
}

#wrapper {
	width: 500px;
	margin: 0 auto;
	margin-top: 240px;
}

body {
	margin: 0 auto;
	font-family: 'DM Sans Regular', "Arial", sans-serif;
}

h1 {
	font-family: 'DM Sans Medium', "Arial", sans-serif;
	font-size: 20px;
	font-style: normal;
	font-weight: 500;
	line-height: 26px;
	letter-spacing: -0.02em;
	text-align: center;
}

#blurb {
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 22px;
	letter-spacing: 0em;
	text-align: center;
	width: 100%;
}

.links {
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 18px;
	letter-spacing: 0em;
	text-align: center;
}

.links a, .links a:visited {
	color: #0075FF;
}

img {
	display: inline-block;
	margin: 0 auto;
	height: 48px;
}

.links a:hover, img:hover, #portfolio:hover {
	opacity: 60%;
}

#img-section {
	width: 100%;
	margin-bottom: 32px;
}

#img-section p {
	margin-top: 4px;
}

#googleslideslink {
	padding: 6px 12px;
	border-radius: 4px;
	font-size: 13px;
	color: white !important;
	text-decoration: none;
	background-color: #95999e;
	letter-spacing: .01em !important;
}

#img-section a:visited {
	color: #555;
}

#resume {
	opacity: 35%;
	margin-left: 8px;
}

#resume:hover {
	opacity: 100% !important;
}


@media screen and (max-width: 1330px) {
}
@media screen and (max-width: 1100px) {
}
@media screen and (max-width: 840px) {
}
@media screen and (max-width: 640px) {
}
@media screen and (max-width: 500px) {

	#wrapper {
		width: 100%;
		margin-top: 150px;
	}

	h1 {
		font-size: 20px;
	}

	#blurb {
		line-height: 24px;
		font-size: 15px;
	}

	#links {
		font-size: 12px;
	}

}
@media screen and (max-width: 470px) {
}
@media screen and (max-width: 412px) {
}
@media screen and (max-width: 445px) {
}
@media screen and (max-width: 435px) {
}
@media screen and (max-width: 421px) {
}
@media screen and (max-width: 340px) {
}


@font-face {
font-family: 'DM Sans Regular';
font-style: normal;
font-weight: normal;
src: local('DM Sans Regular'), url('DMSans-Regular.woff') format('woff');
}


@font-face {
font-family: 'DM Sans Italic';
font-style: normal;
font-weight: normal;
src: local('DM Sans Italic'), url('DMSans-Italic.woff') format('woff');
}


@font-face {
font-family: 'DM Sans Medium';
font-style: normal;
font-weight: normal;
src: local('DM Sans Medium'), url('DMSans-Medium.woff') format('woff');
}


@font-face {
font-family: 'DM Sans Medium Italic';
font-style: normal;
font-weight: normal;
src: local('DM Sans Medium Italic'), url('DMSans-MediumItalic.woff') format('woff');
}


@font-face {
font-family: 'DM Sans Bold';
font-style: normal;
font-weight: normal;
src: local('DM Sans Bold'), url('DMSans-Bold.woff') format('woff');
}


@font-face {
font-family: 'DM Sans Bold Italic';
font-style: normal;
font-weight: normal;
src: local('DM Sans Bold Italic'), url('DMSans-BoldItalic.woff') format('woff');
}