* {
	/*box-sizing: border-box;*/
	text-align: center;
	margin-bottom: 28px;
}

#wrapper {
	width: 500px;
	margin: 0 auto;
	margin-top: 175px;
}

.bold {
	font-family: 'DM Sans Bold', "Arial", sans-serif;
}

body {
	margin: 0 auto;
	font-family: 'DM Sans Regular', "Arial", sans-serif;
	display: inline-grid;
	grid-template-columns: none;
	background-color: #1C1D21;
	color: white;
	/*background-image: url("background2.png");
	background-position: center center;
	background-size: cover;
	height: 2000px;
	vertical-align: center;*/
}

#nav {
	background-color: #7C73E0;
	position: fixed;
	display: block;
	height: 58px;
	width: 100%;
	z-index: 999;
	top: 0px;
	left: 0px;
}

ul {
	padding: 0;
	margin: 0 auto;
	list-style-type: none;
}

ul li {
	display: inline-block;
	margin-left: 18px;
	margin-top: 14px;
}

ul li a, ul li a:visited {
	color: white;
	text-decoration: none;
	border-bottom: solid 1px white;
	padding-bottom: 1px;
}

h1 {
	font-family: 'DM Sans Medium', "Arial", sans-serif;
	font-size: 32px;
	font-style: normal;
	font-weight: 500;
	line-height: 26px;
	letter-spacing: -0.02em;
	text-align: center;
}

#info-section {
	position: absolute;
	display: inline-block;
	margin-left: -222px;
	margin-top: 80px;
	color: #DDE0E4;
}

#message {
	height: 83px;
	position: absolute;
	margin-left: -123px;
	margin-top: -90px;
}

#message:hover {
	opacity: 100%;
}

#blurb {
	font-family: 'Archia Regular', "DM Sans Regular", sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 26px;
	letter-spacing: 0em;
	text-align: center;
	width: 100%;
}

#blurb-mobile {
	display: none;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 26px;
	letter-spacing: 0em;
	text-align: center;
	width: 330px;
}

#icons img {
	height: 28px;
	padding: 0px 6px;
}

.link, .link:visited {
	text-decoration: underline;
	color: white;
}

.link:hover {
	opacity: 35%;
}

.links {
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 18px;
	letter-spacing: 0em;
	text-align: center;
}

.links a, .links a:visited {
	color: white;
}

img {
	display: inline-block;
	margin: 0 auto;
	height: 48px;
}

.links a:hover, img:hover, #portfolio:hover {
	opacity: 60%;
}

#img-section {
	width: 100%;
	margin-bottom: 32px;
	text-align: center;
}

#img-section p {
	margin-top: 4px;
}

#googleslideslink {
	padding: 6px 12px;
	border-radius: 4px;
	font-size: 13px;
	color: white !important;
	text-decoration: none;
	background-color: #95999e;
	letter-spacing: .01em !important;
}

#img-section a:visited {
	color: white;
}

#resume {
	opacity: 100%;
	margin-left: 8px;
}


#photo_of_me, #photo_of_me:hover {
	object-fit: cover;
	height: 75px;
	opacity: 100%;
	position: absolute;
	margin-left: -37px;
	margin-top: 0px;
}




.t-head {
	font-family: 'DM Sans Bold', "Arial", sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: 700;
	line-height: 17px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #8A8A8A;
	border-bottom: solid 1.8px #999;
	padding-bottom: 4px;
}

.t-row {
	margin-top: 12px;
	margin-bottom: 18px;
	line-height: 28px;
	display: block;
}

th, .t-info {
	width: 275px;
}

.t-head, .t-row, .t-info {
	text-align: left;
}

.t-link {
	text-align: right;
	color: white;
	display: inline-block;
	margin-bottom: 0px;
}


#list-of-info {
    margin: 0 auto;
    display: inline-block;
    position: absolute;
    margin-top: 455px;
    margin-left: -165px;
}

.table-star {
	height: 22px;
	margin-bottom: -5px;
	margin-left: -36px;
	padding-right: 12px;
}

#reachme .t-row {
	line-height: 0px;
	margin-top: 24px;
	padding-bottom: 12px;
}






@media screen and (max-width: 992px) {
	#blurb, .links, h1, #img-section {
		text-align: center;
	}
	body {
		grid-template-columns: none;
		background-color: #1D1F28;
	}
	#info-section {
		margin-left: -222px;
	}
}
@media screen and (max-width: 640px) {
}
@media screen and (max-width: 500px) {
	#nav {
		height: 48px;
		font-size: 14px;
	}
	ul li {
		margin-left: 12px;
	}
	#list-of-info {
		margin-top: 450px;
	}
	#wrapper {
		width: 100%;
		margin-top: 150px;
	}

	h1 {
		font-size: 28px;
	}

	#links {
		font-size: 12px;
	}

}
@media screen and (max-width: 410px) {
	#info-section {
		margin-left: -167px;
		margin-top: 130px;
	}
	#message {
		margin-top: -68px;
	}
	#photo_of_me {
		margin-top: 30px;
	}
	#blurb {
		display: none;
	}
	#blurb-mobile {
		display: inline-block;
		margin-top: -2px;
	}
	.table-star {
		height: 18px;
	    margin-bottom: -2px;
	    margin-left: -24px;
	    padding-right: 4px;
	}
}
@media screen and (max-width: 340px) {
}


@font-face {
font-family: 'DM Sans Regular';
font-style: normal;
font-weight: normal;
src: local('DM Sans Regular'), url('DMSans-Regular.woff') format('woff');
}


@font-face {
font-family: 'DM Sans Italic';
font-style: normal;
font-weight: normal;
src: local('DM Sans Italic'), url('DMSans-Italic.woff') format('woff');
}


@font-face {
font-family: 'DM Sans Medium';
font-style: normal;
font-weight: normal;
src: local('DM Sans Medium'), url('DMSans-Medium.woff') format('woff');
}


@font-face {
font-family: 'DM Sans Medium Italic';
font-style: normal;
font-weight: normal;
src: local('DM Sans Medium Italic'), url('DMSans-MediumItalic.woff') format('woff');
}


@font-face {
font-family: 'DM Sans Bold';
font-style: normal;
font-weight: normal;
src: local('DM Sans Bold'), url('DMSans-Bold.woff') format('woff');
}


@font-face {
font-family: 'DM Sans Bold Italic';
font-style: normal;
font-weight: normal;
src: local('DM Sans Bold Italic'), url('DMSans-BoldItalic.woff') format('woff');
}




@font-face {
font-family: 'Archia Regular';
font-style: normal;
font-weight: normal;
src: local('Archia Regular'), url('archia-regular.woff') format('woff');
}

@font-face {
font-family: 'Archia Regular';
font-style: normal;
font-weight: normal;
src: local('Archia Regular'), url('archia-regular.eot') format('eot');
}

@font-face {
font-family: 'Archia Regular';
font-style: normal;
font-weight: normal;
src: local('Archia Regular'), url('archia-regular.otf') format('otf');
}

@font-face {
font-family: 'Archia Regular';
font-style: normal;
font-weight: normal;
src: local('Archia Regular'), url('archia-regular.woff2') format('woff2');
}

@font-face {
font-family: 'Archia Regular';
font-style: normal;
font-weight: normal;
src: local('Archia Regular'), url('archia-regular.ttf') format('truetype');
}