* {
	/*box-sizing: border-box;*/
	text-align: center;
	margin-bottom: 28px;
}

#wrapper {
	width: 850px;
	margin: 0 auto;
	margin-top: 175px;
}

.bold {
	font-family: 'DM Sans Bold', "Arial", sans-serif;
}

body {
	margin: 0 auto;
	font-family: 'DM Sans Regular', "Arial", sans-serif;
	display: inline-grid;
	grid-template-columns: 425px 425px;
	grid-template-rows: auto;
	background-color: #fafafa;
	/*background-image: url("background2.png");
	background-position: center center;
	background-size: cover;
	height: 2000px;
	vertical-align: center;*/
}

#nav {
	background-color: #7C73E0;
	position: fixed;
	display: block;
	height: 58px;
	width: 100%;
	z-index: 999;
	top: 0px;
	left: 0px;
}

#nav section {
	width: 875px;
	margin: 0 auto;
}

#nav img {
	float: left;
	display: inline-block;
	height: 20px;
	margin-top: 18px;
}

#nav ul {
	display: inline-block;
	float: right;
}

ul {
	padding: 0;
	margin: 0 auto;
	list-style-type: none;
}

ul li {
	display: inline-block;
	margin-left: 18px;
	margin-top: 17px;
}

ul li a, ul li a:visited {
	color: white;
	/*text-decoration: none;
	border-bottom: solid 1px white;
	padding-bottom: 1px;*/
}

h1 {
	font-family: 'DM Sans Medium', "Arial", sans-serif;
	font-size: 32px;
	font-style: normal;
	font-weight: 500;
	line-height: 26px;
	letter-spacing: -0.02em;
	text-align: left;
}

#info-section {
	/*position: absolute;*/
	display: inline-block;
	margin-bottom: 100px;
}

#blurb {
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 26px;
	letter-spacing: 0em;
	text-align: left;
	width: 100%;
}

#blurb-mobile {
	display: none;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 26px;
	letter-spacing: 0em;
	text-align: center;
	width: 330px;
}

.link, .link:visited {
	text-decoration: underline;
	color: black;
}

.link:hover {
	opacity: 35%;
}

.links {
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 18px;
	letter-spacing: 0em;
	text-align: left;
}

.links a, .links a:visited {
	color: #3300FF;
}

img {
	display: inline-block;
	margin: 0 auto;
	height: 48px;
}

.links a:hover, img:hover, #portfolio:hover {
	opacity: 60%;
}

#img-section {
	width: 100%;
	margin-bottom: 32px;
	text-align: left;
}

#img-section p {
	margin-top: 4px;
}

#googleslideslink {
	padding: 6px 12px;
	border-radius: 4px;
	font-size: 13px;
	color: white !important;
	text-decoration: none;
	background-color: #95999e;
	letter-spacing: .01em !important;
}

#img-section a:visited {
	color: #555;
}

#resume {
	opacity: 35%;
	margin-left: 8px;
}

#resume:hover {
	opacity: 100% !important;
}


#photo_of_me, #photo_of_me:hover {
	object-fit: cover;
	height: 305px;
	width: 305px;
	margin-right: 50px;
	margin-top: 16px;
	opacity: 100%;
	/*filter: saturate(1.4);*/
	position: relative;
	display: inline-block;
	margin-left: 25px;
}




.t-head {
	font-family: 'DM Sans Bold', "Arial", sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: 700;
	line-height: 17px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #8A8A8A;
	border-bottom: solid 1.8px #999;
	padding-bottom: 4px;
}

.t-row {
	margin-top: 12px;
	margin-bottom: 18px;
	line-height: 28px;
	display: block;
}

th, .t-info {
	width: 325px;
}

.t-head, .t-row, .t-info {
	text-align: left;
}

.t-link {
	text-align: right;
	color: #3300FF;
	display: inline-block;
	margin-bottom: 0px;
}


.list-of-info {
    margin: 0 auto;
    display: flex;
}

.table-star {
	height: 22px;
	margin-bottom: -5px;
	margin-left: -36px;
	padding-right: 12px;
}

#reachme .t-row {
	line-height: 0px;
	margin-top: 24px;
	padding-bottom: 12px;
}

#reachme {
	margin-left: 150px;
}

#uxwork {
	margin-left: 124px;
	margin-top: 24px;
}

#personalprojects {
	margin-top: -280px;
}

#workhistory table {
	padding: 24px 24px 0px 24px;
    width: 400px;
    border-radius: 12px;
    background: white;
    margin-left: -24px;
    box-shadow: 0px 18px 24px 0px rgba(0, 0, 0, 0.10);
}

#viewongithub {
	border-top: 1px solid lightgrey;
	padding-top: 28px;
	margin: 0 auto;
	width: 375px;
	margin-bottom: 40px;
}

#viewongithub a, #viewongithub a:visited {
	color: black;
	opacity: .35;
}

#viewongithub a:hover {
	opacity: 1;
}




@media screen and (max-width: 992px) {
	#nav section {
		width: 100%;
	}
	#wrapper {
		width: 500px;
	}
	#nav img {
		margin-left: 50px;
	}

	#nav ul {
		margin-right: 50px;
	}
	.list-of-info {
	    position: absolute;
	    margin-top: 450px;
	    margin-left: -165px;
	}
	th, .t-info {
		width: 275px;
	}
	#reachme, #uxwork {
		margin-left: 0px;
	}
	.list-of-info {
	    display: inline-block;
	}
	#photo_of_me {
		display: none;
	}
	#blurb, .links, h1, #img-section {
		text-align: center;
	}
	body {
		grid-template-columns: none;
		background-color: #fafafa;
	}
	#info-section {
		position: absolute;
		margin-left: -205px;
	}
	#personalprojects {
		margin-top: 0px;
	}
	#workhistory table {
		padding: 0px;
	    width: 325px;
	    background: #fafafa;
	    margin-left: 0px;
	    box-shadow: none;
	}
	#second-section {
		margin-top: 1790px;
	}
	#viewongithub {
		width: 250px;
		margin-top: 2185px;
	}
}
@media screen and (max-width: 640px) {
	#nav {
		height: 48px;
		font-size: 14px;
	}
	#nav ul {
		display: none;
	}
	#nav img {
		margin-top: 14px;
		margin-left: 0px;
		float: none;
	}
}
@media screen and (max-width: 500px) {
	ul li {
		margin-left: 12px;
	}
	.list-of-info {
		margin-top: 400px;
	}
	#wrapper {
		width: 100%;
		margin-top: 100px;
	}
	h1 {
		font-size: 28px;
	}
	#links {
		font-size: 12px;
	}
	#second-section {
		margin-top: 1732px;
	}
	#viewongithub {
		margin-top: 2125px;
	}
}
@media screen and (max-width: 410px) {
	#info-section {
		margin-left: -167px;
	}
	#blurb {
		display: none;
	}
	#blurb-mobile {
		display: inline-block;
		margin-top: -2px;
	}
	.table-star {
		height: 18px;
	    margin-bottom: -2px;
	    margin-left: -24px;
	    padding-right: 4px;
	}
}
@media screen and (max-width: 340px) {
}


@font-face {
font-family: 'DM Sans Regular';
font-style: normal;
font-weight: normal;
src: local('DM Sans Regular'), url('DMSans-Regular.woff') format('woff');
}


@font-face {
font-family: 'DM Sans Italic';
font-style: normal;
font-weight: normal;
src: local('DM Sans Italic'), url('DMSans-Italic.woff') format('woff');
}


@font-face {
font-family: 'DM Sans Medium';
font-style: normal;
font-weight: normal;
src: local('DM Sans Medium'), url('DMSans-Medium.woff') format('woff');
}


@font-face {
font-family: 'DM Sans Medium Italic';
font-style: normal;
font-weight: normal;
src: local('DM Sans Medium Italic'), url('DMSans-MediumItalic.woff') format('woff');
}


@font-face {
font-family: 'DM Sans Bold';
font-style: normal;
font-weight: normal;
src: local('DM Sans Bold'), url('DMSans-Bold.woff') format('woff');
}


@font-face {
font-family: 'DM Sans Bold Italic';
font-style: normal;
font-weight: normal;
src: local('DM Sans Bold Italic'), url('DMSans-BoldItalic.woff') format('woff');
}